## Para aplicar regras de associação utilizando o algoritmo Apriori no dataset do SPAECE 2018, podemos seguir alguns passos. Aqui está um esboço de como isso pode ser feito:

### Passos para Aplicar Apriori no Dataset SPAECE

#### 1- **Preparação dos Dados:**

##### 1.1 - Transformação dos Dados: Como o algoritmo Apriori trabalha melhor com dados categóricos, é importante transformar as variáveis numéricas e categóricas em um formato adequado. Por exemplo, se tivermos colunas como "SEXO", "IDADE", "FORMAÇÃO DA MÃE", etc., podemos transformá-las em valores categóricos binários (one-hot encoding).

##### 1.2 - Discretização: Para variáveis contínuas, podemos discretizá-las em intervalos ou categorias. Por exemplo, as colunas de "NUMERO DE PONTOS EM PORTUGUES" e "NUMERO DE PONTOS EM MATEMATICA" podem ser discretizadas em faixas (por exemplo, baixa, média, alta).

#### 2 - **Transformação em Transações:** Cada linha do dataset representará uma transação e cada coluna representará um item. Precisamos transformar o dataset de modo que cada transação contenha apenas os itens presentes nessa transação específica.

#### 3 - **Aplicação do Algoritmo Apriori:** Usaremos uma biblioteca como 'mlxtend' em Python para aplicar o algoritmo Apriori e extrair regras de associação.

#### 4 - **Interpretação das Regras:** Analisaremos as regras geradas para encontrar padrões interessantes. Por exemplo, podemos descobrir que estudantes com certas características têm maior probabilidade de alcançar altas pontuações em matemática ou português.

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
## Para recuperar o dataset original
gnetDf = pd.read_csv("SPAECE_2018_codificado.csv", encoding='latin1')

In [3]:
gnetDf

,SEXO,IDADE,FORMACAO DA MAE,FORMACAO DO PAI,ACESSO A INTERNET,NUMERO DE COMPUTADORES,INICIOU OS ESTUDOS,CURSO O ENSINO FUNDAMENTAL,REPROVOU,ABANDONOU A ESCOLA,GESTAO ESCOLAR / PROFESSORES TRABALHAM COM FOCO NO SPAECE,PROFESSORES TIRAM DUVIDAS,PROFESSORES CORRIGEM AS ATIVIDADES,TURNO ESCOLAR,NUMERO DE PONTOS EM PORTUGUES,NUMERO DE PONTOS EM MATEMATICA,PROFICIENCIA EM PORTUGUES,PROFICIENCIA EM MATEMATICA
0,1,17,1,3,0,1,3,1,0,0,2,2,2,2,11,8,252.90,285.73
1,1,18,0,3,0,1,5,1,0,0,2,3,3,2,16,9,281.74,306.30
2,1,17,0,3,0,1,5,1,0,0,3,2,2,2,8,5,224.17,243.40
3,1,17,0,3,0,1,3,3,0,0,1,1,1,2,17,6,281.61,268.13
4,2,17,0,3,0,1,5,1,0,0,2,2,2,2,18,5,301.68,240.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52489,1,17,3,1,1,2,7,2,0,1,0,1,1,4,13,7,275.88,259.11
52490,1,19,3,1,1,2,5,3,0,0,3,3,3,4,22,8,335.27,304.96
52491,2,19,3,1,1,2,5,1,0,1,3,2,1,4,22,6,334.70,251.84
52492,2,18,3,1,1,2,5,1,0,0,2,2,2,4,20,8,323.70,261.49
52493,2,17,3,1,1,2,3,1,0,0,3,3,3,4,23,6,326.31,308.42

In [4]:
# Discretização (simplificado)
gnetDf['SEXO_CATEG'] = pd.cut(gnetDf['SEXO'], bins=2, labels=['1', '2'])
gnetDf['IDADE_CATEG'] = pd.cut(gnetDf['IDADE'], bins=4, labels=['17', '18', '19', '20'])
gnetDf['FORMACAO_MAE_CATEG'] = pd.cut(gnetDf['FORMACAO DA MAE'], bins=6, labels=['0','1', '2', '3', '4', '5'])
gnetDf['FORMACAO_PAI_CATEG'] = pd.cut(gnetDf['FORMACAO DO PAI'], bins=6, labels=['0','1', '2', '3', '4', '5'])
gnetDf['ACESSO_INTERNET_CATEG'] = pd.cut(gnetDf['ACESSO A INTERNET'], bins=2, labels=['0','1'])
gnetDf['NUMERO_COMPUTADORES_CATEG'] = pd.cut(gnetDf['NUMERO DE COMPUTADORES'], bins=3, labels=['0','1','2'])
gnetDf['INICIOU_ESTUDOS_CATEG'] = pd.cut(gnetDf['INICIOU OS ESTUDOS'], bins=4, labels=['3','5','7','9'])
gnetDf['ENSINO_FUNDAMENTAL_CATEG'] = pd.cut(gnetDf['CURSO O ENSINO FUNDAMENTAL'], bins=3, labels=['1','2','3'])
gnetDf['REPROVOU_CATEG'] = pd.cut(gnetDf['REPROVOU'], bins=3, labels=['0','1','2'])
gnetDf['ABANDONOU_CATEG'] = pd.cut(gnetDf['ABANDONOU A ESCOLA'], bins=3, labels=['0','1','2'])
gnetDf['GESTAO_CATEG'] = pd.cut(gnetDf['GESTAO ESCOLAR / PROFESSORES TRABALHAM COM FOCO NO SPAECE'], bins=4, labels=['0','1','2','3'])
gnetDf['DUVIDAS_CATEG'] = pd.cut(gnetDf['PROFESSORES TIRAM DUVIDAS'], bins=4, labels=['0','1','2','3'])
gnetDf['CORRIGEM_CATEG'] = pd.cut(gnetDf['PROFESSORES CORRIGEM AS ATIVIDADES'], bins=4, labels=['0','1','2','3'])
gnetDf['TURNO_ESCOLAR_CATEG'] = pd.cut(gnetDf['TURNO ESCOLAR'], bins=4, labels=['1', '2', '3', '4'])

# Conversão dos valores numéricos
gnetDf['PONTOS_PORTUGUES_CATEG'] = pd.cut(gnetDf['NUMERO DE PONTOS EM PORTUGUES'], bins=3, labels=['1', '2', '3'])
gnetDf['PONTOS_MATEMATICA_CATEG'] = pd.cut(gnetDf['NUMERO DE PONTOS EM MATEMATICA'], bins=3, labels=['1', '2', '3'])
gnetDf['PROF_PORTUGUES_CATEG'] = pd.cut(gnetDf['PROFICIENCIA EM PORTUGUES'], bins=3, labels=['1', '2', '3'])
gnetDf['PROF_MATEMATICA_CATEG'] = pd.cut(gnetDf['PROFICIENCIA EM MATEMATICA'], bins=3, labels=['1', '2', '3'])

In [5]:
gnetDf

,SEXO,IDADE,FORMACAO DA MAE,FORMACAO DO PAI,ACESSO A INTERNET,NUMERO DE COMPUTADORES,INICIOU OS ESTUDOS,CURSO O ENSINO FUNDAMENTAL,REPROVOU,ABANDONOU A ESCOLA,...,REPROVOU_CATEG,ABANDONOU_CATEG,GESTAO_CATEG,DUVIDAS_CATEG,CORRIGEM_CATEG,TURNO_ESCOLAR_CATEG,PONTOS_PORTUGUES_CATEG,PONTOS_MATEMATICA_CATEG,PROF_PORTUGUES_CATEG,PROF_MATEMATICA_CATEG
0,1,17,1,3,0,1,3,1,0,0,...,0,0,2,2,2,2,2,1,2,2
1,1,18,0,3,0,1,5,1,0,0,...,0,0,2,3,3,2,2,2,2,2
2,1,17,0,3,0,1,5,1,0,0,...,0,0,3,2,2,2,1,1,2,1
3,1,17,0,3,0,1,3,3,0,0,...,0,0,1,1,1,2,2,1,2,1
4,2,17,0,3,0,1,5,1,0,0,...,0,0,2,2,2,2,3,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52489,1,17,3,1,1,2,7,2,0,1,...,0,1,0,1,1,4,2,1,2,1
52490,1,19,3,1,1,2,5,3,0,0,...,0,0,3,3,3,4,3,1,3,2
52491,2,19,3,1,1,2,5,1,0,1,...,0,1,3,2,1,4,3,1,3,1
52492,2,18,3,1,1,2,5,1,0,0,...,0,0,2,2,2,4,3,1,3,1
52493,2,17,3,1,1,2,3,1,0,0,...,0,0,3,3,3,4,3,1,3,2

##### Mapeia variáveis categóricas para valores numéricos binários (0 ou 1) utilizando 'pd.get_dummies' para fazer one-hot encoding, transformando as variáveis categóricas em colunas binárias.

In [6]:
df_encoded = pd.get_dummies(gnetDf)

In [7]:
df_encoded

,SEXO,IDADE,FORMACAO DA MAE,FORMACAO DO PAI,ACESSO A INTERNET,NUMERO DE COMPUTADORES,INICIOU OS ESTUDOS,CURSO O ENSINO FUNDAMENTAL,REPROVOU,ABANDONOU A ESCOLA,...,PONTOS_PORTUGUES_CATEG_3,PONTOS_MATEMATICA_CATEG_1,PONTOS_MATEMATICA_CATEG_2,PONTOS_MATEMATICA_CATEG_3,PROF_PORTUGUES_CATEG_1,PROF_PORTUGUES_CATEG_2,PROF_PORTUGUES_CATEG_3,PROF_MATEMATICA_CATEG_1,PROF_MATEMATICA_CATEG_2,PROF_MATEMATICA_CATEG_3
0,1,17,1,3,0,1,3,1,0,0,...,False,True,False,False,False,True,False,False,True,False
1,1,18,0,3,0,1,5,1,0,0,...,False,False,True,False,False,True,False,False,True,False
2,1,17,0,3,0,1,5,1,0,0,...,False,True,False,False,False,True,False,True,False,False
3,1,17,0,3,0,1,3,3,0,0,...,False,True,False,False,False,True,False,True,False,False
4,2,17,0,3,0,1,5,1,0,0,...,True,True,False,False,False,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52489,1,17,3,1,1,2,7,2,0,1,...,False,True,False,False,False,True,False,True,False,False
52490,1,19,3,1,1,2,5,3,0,0,...,True,True,False,False,False,False,True,False,True,False
52491,2,19,3,1,1,2,5,1,0,1,...,True,True,False,False,False,False,True,True,False,False
52492,2,18,3,1,1,2,5,1,0,0,...,True,True,False,False,False,False,True,True,False,False
52493,2,17,3,1,1,2,3,1,0,0,...,True,True,False,False,False,False,True,False,True,False

In [8]:
#Remover as colunas originais
colunas_a_remover = ['SEXO', 'IDADE', 'FORMACAO DA MAE', 'FORMACAO DO PAI',
       'ACESSO A INTERNET', 'NUMERO DE COMPUTADORES', 'INICIOU OS ESTUDOS',
       'CURSO O ENSINO FUNDAMENTAL', 'REPROVOU', 'ABANDONOU A ESCOLA',
       'GESTAO ESCOLAR / PROFESSORES TRABALHAM COM FOCO NO SPAECE',
       'PROFESSORES TIRAM DUVIDAS', 'PROFESSORES CORRIGEM AS ATIVIDADES',
       'TURNO ESCOLAR', 'NUMERO DE PONTOS EM PORTUGUES',
       'NUMERO DE PONTOS EM MATEMATICA', 'PROFICIENCIA EM PORTUGUES',
       'PROFICIENCIA EM MATEMATICA']
df_encoded = df_encoded.drop(columns=colunas_a_remover)

In [9]:
df_encoded

,SEXO_CATEG_1,SEXO_CATEG_2,IDADE_CATEG_17,IDADE_CATEG_18,IDADE_CATEG_19,IDADE_CATEG_20,FORMACAO_MAE_CATEG_0,FORMACAO_MAE_CATEG_1,FORMACAO_MAE_CATEG_2,FORMACAO_MAE_CATEG_3,...,PONTOS_PORTUGUES_CATEG_3,PONTOS_MATEMATICA_CATEG_1,PONTOS_MATEMATICA_CATEG_2,PONTOS_MATEMATICA_CATEG_3,PROF_PORTUGUES_CATEG_1,PROF_PORTUGUES_CATEG_2,PROF_PORTUGUES_CATEG_3,PROF_MATEMATICA_CATEG_1,PROF_MATEMATICA_CATEG_2,PROF_MATEMATICA_CATEG_3
0,True,False,True,False,False,False,False,True,False,False,...,False,True,False,False,False,True,False,False,True,False
1,True,False,False,True,False,False,True,False,False,False,...,False,False,True,False,False,True,False,False,True,False
2,True,False,True,False,False,False,True,False,False,False,...,False,True,False,False,False,True,False,True,False,False
3,True,False,True,False,False,False,True,False,False,False,...,False,True,False,False,False,True,False,True,False,False
4,False,True,True,False,False,False,True,False,False,False,...,True,True,False,False,False,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52489,True,False,True,False,False,False,False,False,False,True,...,False,True,False,False,False,True,False,True,False,False
52490,True,False,False,False,True,False,False,False,False,True,...,True,True,False,False,False,False,True,False,True,False
52491,False,True,False,False,True,False,False,False,False,True,...,True,True,False,False,False,False,True,True,False,False
52492,False,True,False,True,False,False,False,False,False,True,...,True,True,False,False,False,False,True,True,False,False
52493,False,True,True,False,False,False,False,False,False,True,...,True,True,False,False,False,False,True,False,True,False

In [10]:
# Salvar o DataFrame codificado
df_encoded.to_csv("Apriori.csv", index=False)

##### A função apriori da biblioteca 'mlxtend' encontra conjuntos frequentes e gera regras de associação com a função association_rules.

In [11]:
# Aplicar Apriori para encontrar conjuntos frequentes
frequent_itemsets = apriori(df_encoded, min_support=0.1, use_colnames=True)

In [12]:
# Gerar regras de associação
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

In [13]:
# Exibir regras geradas
print(rules)

                                             antecedents  \
0                                         (SEXO_CATEG_1)
1                                         (SEXO_CATEG_1)
2                                         (SEXO_CATEG_1)
3                                         (SEXO_CATEG_1)
4                                         (SEXO_CATEG_1)
...                                                  ...
37027  (REPROVOU_CATEG_0, PONTOS_PORTUGUES_CATEG_2, P...
37028  (REPROVOU_CATEG_0, PROF_MATEMATICA_CATEG_1, PR...
37029  (PONTOS_PORTUGUES_CATEG_2, PROF_MATEMATICA_CAT...
37030  (PONTOS_PORTUGUES_CATEG_2, PROF_MATEMATICA_CAT...
37031  (PONTOS_PORTUGUES_CATEG_2, PROF_MATEMATICA_CAT...

                                             consequents  antecedent support  \
0                              (ACESSO_INTERNET_CATEG_1)            0.532804
1                           (ENSINO_FUNDAMENTAL_CATEG_1)            0.532804
2                                     (REPROVOU_CATEG_0)            0.532804
3                                    (ABANDONOU_CATEG_0)            0.532804
4                            (PONTOS_MATEMATICA_CATEG_1)            0.532804
...                                                  ...                 ...
37027  (PROF_PORTUGUES_CATEG_2, PONTOS_MATEMATICA_CAT...            0.135558
37028  (PONTOS_PORTUGUES_CATEG_2, PONTOS_MATEMATICA_C...            0.134758
37029  (PONTOS_MATEMATICA_CATEG_1, ABANDONOU_CATEG_0,...            0.149655
37030  (PROF_PORTUGUES_CATEG_2, PONTOS_MATEMATICA_CAT...            0.140930
37031  (PROF_PORTUGUES_CATEG_2, PONTOS_MATEMATICA_CAT...            0.142912

       consequent support   support  confidence      lift  leverage  \
0                0.730750  0.385492    0.723515  0.990099 -0.003855
1                0.817198  0.436126    0.818549  1.001653  0.000720
2                0.749648  0.423267    0.794415  1.059718  0.023852
3                0.907208  0.483217    0.906933  0.999696 -0.000147
4                0.729683  0.388063    0.728342  0.998162 -0.000715
...                   ...       ...         ...       ...       ...
37027            0.398198  0.105574    0.778808  1.955832  0.051595
37028            0.378329  0.105574    0.783432  2.070770  0.054591
37029            0.518631  0.105574    0.705448  1.360213  0.027958
37030            0.365394  0.105574    0.749121  2.050174  0.054079
37031            0.360727  0.105574    0.738736  2.047910  0.054022

       conviction  zhangs_metric
0        0.973833      -0.020955
1        1.007445       0.003533
2        1.217758       0.120620
3        0.997037      -0.000650
4        0.995063      -0.003926
...           ...            ...
37027    2.720727       0.565346
37028    2.870562       0.597622
37029    1.634243       0.311428
37030    2.529533       0.596269
37031    2.446850       0.597018

[37032 rows x 10 columns]

### A saída das __*rules*__ do algoritmo Apriori mostra as regras de associação encontradas no dataset, cada uma composta por um conjunto de colunas (atributos) que frequentemente aparecem juntos. A tabela contém as seguintes colunas:

#### **- antecedents:** Conjunto de itens que, quando presentes, aumentam a probabilidade dos itens do consequents estarem presentes.
#### **- consequents:** Conjunto de itens cuja presença é aumentada pela presença dos antecedents.
#### **- support:** Frequência com que a combinação de antecedents e consequents aparece no dataset, medida como a proporção do total de transações.
#### **- confidence:** Probabilidade de encontrar os consequents nas transações que contêm os antecedents. Calculado como 

$$ 
confidence(X→Y)= 
\frac{support(X)}
{support(X∪Y)}
$$

#### **- lift:** Medida de quão frequentemente os consequents ocorrem nas transações que contêm os antecedents em comparação com a frequência esperada, assumindo que os antecedents e consequents são independentes. Calculado como: 

$$
lift(X→Y)= \frac{
support(Y)}
{confidence(X→Y)}
$$​

In [14]:
# Analisar algumas regras interessantes
print(rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

                                             antecedents  \
0                                         (SEXO_CATEG_1)
1                                         (SEXO_CATEG_1)
2                                         (SEXO_CATEG_1)
3                                         (SEXO_CATEG_1)
4                                         (SEXO_CATEG_1)
...                                                  ...
37027  (REPROVOU_CATEG_0, PONTOS_PORTUGUES_CATEG_2, P...
37028  (REPROVOU_CATEG_0, PROF_MATEMATICA_CATEG_1, PR...
37029  (PONTOS_PORTUGUES_CATEG_2, PROF_MATEMATICA_CAT...
37030  (PONTOS_PORTUGUES_CATEG_2, PROF_MATEMATICA_CAT...
37031  (PONTOS_PORTUGUES_CATEG_2, PROF_MATEMATICA_CAT...

                                             consequents   support  \
0                              (ACESSO_INTERNET_CATEG_1)  0.385492
1                           (ENSINO_FUNDAMENTAL_CATEG_1)  0.436126
2                                     (REPROVOU_CATEG_0)  0.423267
3                                    (ABANDONOU_CATEG_0)  0.483217
4                            (PONTOS_MATEMATICA_CATEG_1)  0.388063
...                                                  ...       ...
37027  (PROF_PORTUGUES_CATEG_2, PONTOS_MATEMATICA_CAT...  0.105574
37028  (PONTOS_PORTUGUES_CATEG_2, PONTOS_MATEMATICA_C...  0.105574
37029  (PONTOS_MATEMATICA_CATEG_1, ABANDONOU_CATEG_0,...  0.105574
37030  (PROF_PORTUGUES_CATEG_2, PONTOS_MATEMATICA_CAT...  0.105574
37031  (PROF_PORTUGUES_CATEG_2, PONTOS_MATEMATICA_CAT...  0.105574

       confidence      lift
0        0.723515  0.990099
1        0.818549  1.001653
2        0.794415  1.059718
3        0.906933  0.999696
4        0.728342  0.998162
...           ...       ...
37027    0.778808  1.955832
37028    0.783432  2.070770
37029    0.705448  1.360213
37030    0.749121  2.050174
37031    0.738736  2.047910

[37032 rows x 5 columns]

## Análise das Regras de Associação

### Exemplo 1: Primeira Regra
#### **-antecedents:** (SEXO_CATEG_1)
#### **-consequents:** (ACESSO_INTERNET_CATEG_1)
#### **-support:** 0.385492
#### **-confidence:** 0.723515
#### **-lift:** 0.990099

### Interpretação:

#### **-antecedents:** A presença da categoria 1 da coluna SEXO (que mapeamos como Feminino).
#### **-consequents:** Está associada à presença da categoria 1 da coluna ACESSO A INTERNET (que mapeamos como Sim).
#### **-support:** Cerca de 38.55% das transações (linhas) no dataset contêm tanto 'Feminino' como 'Sim' para acesso à internet.
#### **-confidence:** Em 72.35% das vezes que a coluna SEXO é 'Feminino', a coluna ACESSO A INTERNET é 'Sim'.
#### **-lift:** O valor de 0.99 indica que há quase nenhuma relação entre SEXO ser 'Feminino' e ACESSO A INTERNET ser 'Sim', pois está muito próximo de 1 (independência).

##

##

### Exemplo 2: Segunda Regra
#### **-antecedents:** (SEXO_CATEG_1)
#### **-consequents:** (ENSINO_FUNDAMENTAL_CATEG_1)
#### **-support:** 0.436126
#### **-confidence:** 0.818549
#### **-lift:** 1.001653

### Interpretação:

#### **-antecedents:** A presença da categoria 1 da coluna SEXO (Feminino).
#### **-consequents:** Está associada à presença da categoria 1 da coluna ENSINO FUNDAMENTAL (Ensino Fundamental Completo).
#### **-support:** Cerca de 43.61% das transações contêm tanto 'Feminino' como 'Ensino Fundamental Completo'.
#### **-confidence:** Em 81.85% das vezes que a coluna SEXO é 'Feminino', a coluna ENSINO FUNDAMENTAL é 'Completo'.
#### **-lift:** O valor de 1.001653 sugere uma relação quase neutra, muito próximo de independência.

## Observar

### **- Transformação dos Dados:** Cada valor no DataFrame final deve ser binário para que o algoritmo Apriori funcione corretamente.
### **- Interpretação das Regras:** As regras geradas podem ser analisadas para descobrir padrões interessantes nas respostas dos alunos.

## Aplicar

### **- Identificação de Perfis de Estudantes:** Descobrir perfis de estudantes que têm maior probabilidade de alcançar altas pontuações, permitindo intervenções direcionadas.
### **- Apoio à Decisão Educacional:** Fornecer dados para políticas educacionais e práticas de ensino baseadas em padrões de desempenho dos estudantes.
### **- Análise de Comportamentos de Estudo:** Entender como diferentes comportamentos e características dos estudantes influenciam seu desempenho acadêmico.

In [15]:
print("Colunas:")
print(df_encoded.columns.tolist())

# Exibir os valores únicos de cada coluna
for column in df_encoded.columns:
    print(f"\nValores únicos para a coluna '{column}':")
    print(df_encoded[column].unique())

Colunas:
['SEXO_CATEG_1', 'SEXO_CATEG_2', 'IDADE_CATEG_17', 'IDADE_CATEG_18', 'IDADE_CATEG_19', 'IDADE_CATEG_20', 'FORMACAO_MAE_CATEG_0', 'FORMACAO_MAE_CATEG_1', 'FORMACAO_MAE_CATEG_2', 'FORMACAO_MAE_CATEG_3', 'FORMACAO_MAE_CATEG_4', 'FORMACAO_MAE_CATEG_5', 'FORMACAO_PAI_CATEG_0', 'FORMACAO_PAI_CATEG_1', 'FORMACAO_PAI_CATEG_2', 'FORMACAO_PAI_CATEG_3', 'FORMACAO_PAI_CATEG_4', 'FORMACAO_PAI_CATEG_5', 'ACESSO_INTERNET_CATEG_0', 'ACESSO_INTERNET_CATEG_1', 'NUMERO_COMPUTADORES_CATEG_0', 'NUMERO_COMPUTADORES_CATEG_1', 'NUMERO_COMPUTADORES_CATEG_2', 'INICIOU_ESTUDOS_CATEG_3', 'INICIOU_ESTUDOS_CATEG_5', 'INICIOU_ESTUDOS_CATEG_7', 'INICIOU_ESTUDOS_CATEG_9', 'ENSINO_FUNDAMENTAL_CATEG_1', 'ENSINO_FUNDAMENTAL_CATEG_2', 'ENSINO_FUNDAMENTAL_CATEG_3', 'REPROVOU_CATEG_0', 'REPROVOU_CATEG_1', 'REPROVOU_CATEG_2', 'ABANDONOU_CATEG_0', 'ABANDONOU_CATEG_1', 'ABANDONOU_CATEG_2', 'GESTAO_CATEG_0', 'GESTAO_CATEG_1', 'GESTAO_CATEG_2', 'GESTAO_CATEG_3', 'DUVIDAS_CATEG_0', 'DUVIDAS_CATEG_1', 'DUVIDAS_CATEG_2', 'DUVIDAS_CATEG_3', 'CORRIGEM_CATEG_0', 'CORRIGEM_CATEG_1', 'CORRIGEM_CATEG_2', 'CORRIGEM_CATEG_3', 'TURNO_ESCOLAR_CATEG_1', 'TURNO_ESCOLAR_CATEG_2', 'TURNO_ESCOLAR_CATEG_3', 'TURNO_ESCOLAR_CATEG_4', 'PONTOS_PORTUGUES_CATEG_1', 'PONTOS_PORTUGUES_CATEG_2', 'PONTOS_PORTUGUES_CATEG_3', 'PONTOS_MATEMATICA_CATEG_1', 'PONTOS_MATEMATICA_CATEG_2', 'PONTOS_MATEMATICA_CATEG_3', 'PROF_PORTUGUES_CATEG_1', 'PROF_PORTUGUES_CATEG_2', 'PROF_PORTUGUES_CATEG_3', 'PROF_MATEMATICA_CATEG_1', 'PROF_MATEMATICA_CATEG_2', 'PROF_MATEMATICA_CATEG_3']

Valores únicos para a coluna 'SEXO_CATEG_1':
[ True False]

Valores únicos para a coluna 'SEXO_CATEG_2':
[False  True]

Valores únicos para a coluna 'IDADE_CATEG_17':
[ True False]

Valores únicos para a coluna 'IDADE_CATEG_18':
[False  True]

Valores únicos para a coluna 'IDADE_CATEG_19':
[False  True]

Valores únicos para a coluna 'IDADE_CATEG_20':
[False  True]

Valores únicos para a coluna 'FORMACAO_MAE_CATEG_0':
[False  True]

Valores únicos para a coluna 'FORMACAO_MAE_CATEG_1':
[ True False]

Valores únicos para a coluna 'FORMACAO_MAE_CATEG_2':
[False  True]

Valores únicos para a coluna 'FORMACAO_MAE_CATEG_3':
[False  True]

Valores únicos para a coluna 'FORMACAO_MAE_CATEG_4':
[False  True]

Valores únicos para a coluna 'FORMACAO_MAE_CATEG_5':
[False  True]

Valores únicos para a coluna 'FORMACAO_PAI_CATEG_0':
[False  True]

Valores únicos para a coluna 'FORMACAO_PAI_CATEG_1':
[False  True]

Valores únicos para a coluna 'FORMACAO_PAI_CATEG_2':
[False  True]

Valores únicos para a coluna 'FORMACAO_PAI_CATEG_3':
[ True False]

Valores únicos para a coluna 'FORMACAO_PAI_CATEG_4':
[False  True]

Valores únicos para a coluna 'FORMACAO_PAI_CATEG_5':
[False  True]

Valores únicos para a coluna 'ACESSO_INTERNET_CATEG_0':
[ True False]

Valores únicos para a coluna 'ACESSO_INTERNET_CATEG_1':
[False  True]

Valores únicos para a coluna 'NUMERO_COMPUTADORES_CATEG_0':
[False  True]

Valores únicos para a coluna 'NUMERO_COMPUTADORES_CATEG_1':
[ True False]

Valores únicos para a coluna 'NUMERO_COMPUTADORES_CATEG_2':
[False  True]

Valores únicos para a coluna 'INICIOU_ESTUDOS_CATEG_3':
[ True False]

Valores únicos para a coluna 'INICIOU_ESTUDOS_CATEG_5':
[False  True]

Valores únicos para a coluna 'INICIOU_ESTUDOS_CATEG_7':
[False  True]

Valores únicos para a coluna 'INICIOU_ESTUDOS_CATEG_9':
[False  True]

Valores únicos para a coluna 'ENSINO_FUNDAMENTAL_CATEG_1':
[ True False]

Valores únicos para a coluna 'ENSINO_FUNDAMENTAL_CATEG_2':
[False  True]

Valores únicos para a coluna 'ENSINO_FUNDAMENTAL_CATEG_3':
[False  True]

Valores únicos para a coluna 'REPROVOU_CATEG_0':
[ True False]

Valores únicos para a coluna 'REPROVOU_CATEG_1':
[False  True]

Valores únicos para a coluna 'REPROVOU_CATEG_2':
[False  True]

Valores únicos para a coluna 'ABANDONOU_CATEG_0':
[ True False]

Valores únicos para a coluna 'ABANDONOU_CATEG_1':
[False  True]

Valores únicos para a coluna 'ABANDONOU_CATEG_2':
[False  True]

Valores únicos para a coluna 'GESTAO_CATEG_0':
[False  True]

Valores únicos para a coluna 'GESTAO_CATEG_1':
[False  True]

Valores únicos para a coluna 'GESTAO_CATEG_2':
[ True False]

Valores únicos para a coluna 'GESTAO_CATEG_3':
[False  True]

Valores únicos para a coluna 'DUVIDAS_CATEG_0':
[False  True]

Valores únicos para a coluna 'DUVIDAS_CATEG_1':
[False  True]

Valores únicos para a coluna 'DUVIDAS_CATEG_2':
[ True False]

Valores únicos para a coluna 'DUVIDAS_CATEG_3':
[False  True]

Valores únicos para a coluna 'CORRIGEM_CATEG_0':
[False  True]

Valores únicos para a coluna 'CORRIGEM_CATEG_1':
[False  True]

Valores únicos para a coluna 'CORRIGEM_CATEG_2':
[ True False]

Valores únicos para a coluna 'CORRIGEM_CATEG_3':
[False  True]

Valores únicos para a coluna 'TURNO_ESCOLAR_CATEG_1':
[False  True]

Valores únicos para a coluna 'TURNO_ESCOLAR_CATEG_2':
[ True False]

Valores únicos para a coluna 'TURNO_ESCOLAR_CATEG_3':
[False  True]

Valores únicos para a coluna 'TURNO_ESCOLAR_CATEG_4':
[False  True]

Valores únicos para a coluna 'PONTOS_PORTUGUES_CATEG_1':
[False  True]

Valores únicos para a coluna 'PONTOS_PORTUGUES_CATEG_2':
[ True False]

Valores únicos para a coluna 'PONTOS_PORTUGUES_CATEG_3':
[False  True]

Valores únicos para a coluna 'PONTOS_MATEMATICA_CATEG_1':
[ True False]

Valores únicos para a coluna 'PONTOS_MATEMATICA_CATEG_2':
[False  True]

Valores únicos para a coluna 'PONTOS_MATEMATICA_CATEG_3':
[False  True]

Valores únicos para a coluna 'PROF_PORTUGUES_CATEG_1':
[False  True]

Valores únicos para a coluna 'PROF_PORTUGUES_CATEG_2':
[ True False]

Valores únicos para a coluna 'PROF_PORTUGUES_CATEG_3':
[False  True]

Valores únicos para a coluna 'PROF_MATEMATICA_CATEG_1':
[False  True]

Valores únicos para a coluna 'PROF_MATEMATICA_CATEG_2':
[ True False]

Valores únicos para a coluna 'PROF_MATEMATICA_CATEG_3':
[False  True]