# Apriori

### O algoritmo Apriori √© um dos m√©todos mais conhecidos e utilizados para a minera√ß√£o de padr√µes frequentes e a gera√ß√£o de regras de associa√ß√£o em bases de dados transacionais. Ele foi introduzido por Rakesh Agrawal e Ramakrishnan Srikant em 1994 e tornou-se a base para muitos outros algoritmos de minera√ß√£o de dados.

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Como Funciona o Algoritmo Apriori
#### O Apriori opera em duas etapas principais: a gera√ß√£o de conjuntos frequentes (itemsets) e a gera√ß√£o de regras de associa√ß√£o. O princ√≠pio b√°sico do algoritmo √© que qualquer subconjunto de um itemset frequente tamb√©m deve ser frequente. Isso √© conhecido como propriedade Apriori.

## Etapa 1: Gera√ß√£o de Conjuntos Frequentes
#### **-Contagem dos Itens Individuais:** Inicialmente, o algoritmo conta a frequ√™ncia de cada item individual na base de dados. Mant√©m apenas os itens que atendem a um suporte m√≠nimo especificado.
#### **-Gera√ß√£o de Conjuntos Candidatos:** Gera conjuntos de itens candidatos de tamanho 2 a partir dos itens frequentes de tamanho 1. Conta a frequ√™ncia de cada conjunto candidato na base de dados.
#### **-Filtragem de Conjuntos Candidatos:** Mant√©m apenas os conjuntos candidatos que atendem ao suporte m√≠nimo. Repete o processo para gerar conjuntos candidatos de tamanho 3 a partir dos conjuntos frequentes de tamanho 2, e assim por diante.
#### **-Repeti√ß√£o:** Continua gerando e filtrando conjuntos candidatos at√© que n√£o restem mais conjuntos candidatos frequentes.

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Etapa 2: Gera√ß√£o de Regras de Associa√ß√£o
#### **Forma√ß√£o de Regras:** Para cada conjunto frequente, o algoritmo gera todas as regras poss√≠veis que podem ser derivadas do conjunto. Uma regra √© na forma de $A‚ÜíB$, onde $A$ e $ùêµ$ s√£o subconjuntos do itemset frequente e $A‚à©B=‚àÖ$.


#### **-C√°lculo de M√©tricas:** Calcula a confian√ßa de cada regra. A confian√ßa √© a propor√ß√£o de transa√ß√µes que cont√™m $ùê¥$ que tamb√©m cont√™m $ùêµ$. Se a confian√ßa de uma regra for maior ou igual a um limiar m√≠nimo de confian√ßa especificado, a regra √© considerada forte.
### **-Filtragem de Regras:** Mant√©m apenas as regras que atendem ao limiar de confian√ßa especificado.

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##

## Para aplicar regras de associa√ß√£o utilizando o algoritmo Apriori no dataset do SPAECE 2018, podemos seguir alguns passos. Aqui est√° um esbo√ßo de como isso pode ser feito:

## Passos para Aplicar Apriori no Dataset SPAECE

#### 1- **Prepara√ß√£o dos Dados:**

##### 1.1 - Transforma√ß√£o dos Dados: Como o algoritmo Apriori trabalha melhor com dados categ√≥ricos, √© importante transformar as vari√°veis num√©ricas e categ√≥ricas em um formato adequado. Por exemplo, se tivermos colunas como "SEXO", "IDADE", "FORMA√á√ÉO DA M√ÉE", etc., podemos transform√°-las em valores categ√≥ricos bin√°rios (one-hot encoding).

##### 1.2 - Discretiza√ß√£o: Para vari√°veis cont√≠nuas, podemos discretiz√°-las em intervalos ou categorias. Por exemplo, as colunas de "NUMERO DE PONTOS EM PORTUGUES" e "NUMERO DE PONTOS EM MATEMATICA" podem ser discretizadas em faixas (por exemplo, baixa, m√©dia, alta).

#### 2 - **Transforma√ß√£o em Transa√ß√µes:** Cada linha do dataset representar√° uma transa√ß√£o e cada coluna representar√° um item. Precisamos transformar o dataset de modo que cada transa√ß√£o contenha apenas os itens presentes nessa transa√ß√£o espec√≠fica.

#### 3 - **Aplica√ß√£o do Algoritmo Apriori:** Usaremos uma biblioteca como 'mlxtend' em Python para aplicar o algoritmo Apriori e extrair regras de associa√ß√£o.

#### 4 - **Interpreta√ß√£o das Regras:** Analisaremos as regras geradas para encontrar padr√µes interessantes. Por exemplo, podemos descobrir que estudantes com certas caracter√≠sticas t√™m maior probabilidade de alcan√ßar altas pontua√ß√µes em matem√°tica ou portugu√™s.

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
## Para recuperar o dataset original
gnetDf = pd.read_csv("datasets/SPAECE_2018_codificado.csv", encoding='latin1')

In [3]:
gnetDf

,SEXO,IDADE,FORMACAO DA MAE,FORMACAO DO PAI,ACESSO A INTERNET,NUMERO DE COMPUTADORES,INICIOU OS ESTUDOS,CURSO O ENSINO FUNDAMENTAL,REPROVOU,ABANDONOU A ESCOLA,GESTAO ESCOLAR / PROFESSORES TRABALHAM COM FOCO NO SPAECE,PROFESSORES TIRAM DUVIDAS,PROFESSORES CORRIGEM AS ATIVIDADES,TURNO ESCOLAR,NUMERO DE PONTOS EM PORTUGUES,NUMERO DE PONTOS EM MATEMATICA,PROFICIENCIA EM PORTUGUES,PROFICIENCIA EM MATEMATICA
0,1,17,1,3,0,1,3,1,0,0,2,2,2,2,11,8,252.90,285.73
1,1,18,0,3,0,1,5,1,0,0,2,3,3,2,16,9,281.74,306.30
2,1,17,0,3,0,1,5,1,0,0,3,2,2,2,8,5,224.17,243.40
3,1,17,0,3,0,1,3,3,0,0,1,1,1,2,17,6,281.61,268.13
4,2,17,0,3,0,1,5,1,0,0,2,2,2,2,18,5,301.68,240.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52489,1,17,3,1,1,2,7,2,0,1,0,1,1,4,13,7,275.88,259.11
52490,1,19,3,1,1,2,5,3,0,0,3,3,3,4,22,8,335.27,304.96
52491,2,19,3,1,1,2,5,1,0,1,3,2,1,4,22,6,334.70,251.84
52492,2,18,3,1,1,2,5,1,0,0,2,2,2,4,20,8,323.70,261.49
52493,2,17,3,1,1,2,3,1,0,0,3,3,3,4,23,6,326.31,308.42

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [4]:
# Discretiza√ß√£o (simplificado)
gnetDf['SEXO_CATEG'] = pd.cut(gnetDf['SEXO'], bins=2, labels=['1', '2'])
gnetDf['IDADE_CATEG'] = pd.cut(gnetDf['IDADE'], bins=4, labels=['17', '18', '19', '20'])
gnetDf['FORMACAO_MAE_CATEG'] = pd.cut(gnetDf['FORMACAO DA MAE'], bins=6, labels=['0','1', '2', '3', '4', '5'])
gnetDf['FORMACAO_PAI_CATEG'] = pd.cut(gnetDf['FORMACAO DO PAI'], bins=6, labels=['0','1', '2', '3', '4', '5'])
gnetDf['ACESSO_INTERNET_CATEG'] = pd.cut(gnetDf['ACESSO A INTERNET'], bins=2, labels=['0','1'])
gnetDf['NUMERO_COMPUTADORES_CATEG'] = pd.cut(gnetDf['NUMERO DE COMPUTADORES'], bins=3, labels=['0','1','2'])
gnetDf['INICIOU_ESTUDOS_CATEG'] = pd.cut(gnetDf['INICIOU OS ESTUDOS'], bins=4, labels=['3','5','7','9'])
gnetDf['ENSINO_FUNDAMENTAL_CATEG'] = pd.cut(gnetDf['CURSO O ENSINO FUNDAMENTAL'], bins=3, labels=['1','2','3'])
gnetDf['REPROVOU_CATEG'] = pd.cut(gnetDf['REPROVOU'], bins=3, labels=['0','1','2'])
gnetDf['ABANDONOU_CATEG'] = pd.cut(gnetDf['ABANDONOU A ESCOLA'], bins=3, labels=['0','1','2'])
gnetDf['GESTAO_CATEG'] = pd.cut(gnetDf['GESTAO ESCOLAR / PROFESSORES TRABALHAM COM FOCO NO SPAECE'], bins=4, labels=['0','1','2','3'])
gnetDf['DUVIDAS_CATEG'] = pd.cut(gnetDf['PROFESSORES TIRAM DUVIDAS'], bins=4, labels=['0','1','2','3'])
gnetDf['CORRIGEM_CATEG'] = pd.cut(gnetDf['PROFESSORES CORRIGEM AS ATIVIDADES'], bins=4, labels=['0','1','2','3'])
gnetDf['TURNO_ESCOLAR_CATEG'] = pd.cut(gnetDf['TURNO ESCOLAR'], bins=4, labels=['1', '2', '3', '4'])

# Convers√£o dos valores num√©ricos
gnetDf['PONTOS_PORTUGUES_CATEG'] = pd.cut(gnetDf['NUMERO DE PONTOS EM PORTUGUES'], bins=5, labels=['1', '2', '3', '4', '5'])
gnetDf['PONTOS_MATEMATICA_CATEG'] = pd.cut(gnetDf['NUMERO DE PONTOS EM MATEMATICA'], bins=5, labels=['1', '2', '3', '4', '5'])
gnetDf['PROF_PORTUGUES_CATEG'] = pd.cut(gnetDf['PROFICIENCIA EM PORTUGUES'], bins=5, labels=['1', '2', '3', '4', '5'])
gnetDf['PROF_MATEMATICA_CATEG'] = pd.cut(gnetDf['PROFICIENCIA EM MATEMATICA'], bins=5, labels=['1', '2', '3', '4', '5'])

#### Mapear os valores em conjuntos categ√≥ricos para aplicar a divis√£o bin√°ria e tamb√©m tornar o dataset aplic√°vel para problemas de classifica√ß√£o.

In [5]:
gnetDf

,SEXO,IDADE,FORMACAO DA MAE,FORMACAO DO PAI,ACESSO A INTERNET,NUMERO DE COMPUTADORES,INICIOU OS ESTUDOS,CURSO O ENSINO FUNDAMENTAL,REPROVOU,ABANDONOU A ESCOLA,...,REPROVOU_CATEG,ABANDONOU_CATEG,GESTAO_CATEG,DUVIDAS_CATEG,CORRIGEM_CATEG,TURNO_ESCOLAR_CATEG,PONTOS_PORTUGUES_CATEG,PONTOS_MATEMATICA_CATEG,PROF_PORTUGUES_CATEG,PROF_MATEMATICA_CATEG
0,1,17,1,3,0,1,3,1,0,0,...,0,0,2,2,2,2,3,2,3,2
1,1,18,0,3,0,1,5,1,0,0,...,0,0,2,3,3,2,4,2,3,3
2,1,17,0,3,0,1,5,1,0,0,...,0,0,3,2,2,2,2,2,2,2
3,1,17,0,3,0,1,3,3,0,0,...,0,0,1,1,1,2,4,2,3,2
4,2,17,0,3,0,1,5,1,0,0,...,0,0,2,2,2,2,4,2,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52489,1,17,3,1,1,2,7,2,0,1,...,0,1,0,1,1,4,3,2,3,2
52490,1,19,3,1,1,2,5,3,0,0,...,0,0,3,3,3,4,5,2,4,3
52491,2,19,3,1,1,2,5,1,0,1,...,0,1,3,2,1,4,5,2,4,2
52492,2,18,3,1,1,2,5,1,0,0,...,0,0,2,2,2,4,4,2,4,2
52493,2,17,3,1,1,2,3,1,0,0,...,0,0,3,3,3,4,5,2,4,3

##### Mapeia vari√°veis categ√≥ricas para valores num√©ricos bin√°rios (0 ou 1) utilizando 'pd.get_dummies' para fazer one-hot encoding, transformando as vari√°veis categ√≥ricas em colunas bin√°rias.

In [6]:
#Remover as colunas originais e deixar apenas as categ√≥ricas
colunas_a_remover = ['SEXO', 'IDADE', 'FORMACAO DA MAE', 'FORMACAO DO PAI',
       'ACESSO A INTERNET', 'NUMERO DE COMPUTADORES', 'INICIOU OS ESTUDOS',
       'CURSO O ENSINO FUNDAMENTAL', 'REPROVOU', 'ABANDONOU A ESCOLA',
       'GESTAO ESCOLAR / PROFESSORES TRABALHAM COM FOCO NO SPAECE',
       'PROFESSORES TIRAM DUVIDAS', 'PROFESSORES CORRIGEM AS ATIVIDADES',
       'TURNO ESCOLAR', 'NUMERO DE PONTOS EM PORTUGUES',
       'NUMERO DE PONTOS EM MATEMATICA', 'PROFICIENCIA EM PORTUGUES',
       'PROFICIENCIA EM MATEMATICA']
gnetDf = gnetDf.drop(columns=colunas_a_remover)

In [7]:
# Salvar o DataFrame codificado
gnetDf.to_csv("datasets/CLASS.csv", index=False)

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [8]:
df_encoded = pd.get_dummies(gnetDf)

In [9]:
df_encoded

,SEXO_CATEG_1,SEXO_CATEG_2,IDADE_CATEG_17,IDADE_CATEG_18,IDADE_CATEG_19,IDADE_CATEG_20,FORMACAO_MAE_CATEG_0,FORMACAO_MAE_CATEG_1,FORMACAO_MAE_CATEG_2,FORMACAO_MAE_CATEG_3,...,PROF_PORTUGUES_CATEG_1,PROF_PORTUGUES_CATEG_2,PROF_PORTUGUES_CATEG_3,PROF_PORTUGUES_CATEG_4,PROF_PORTUGUES_CATEG_5,PROF_MATEMATICA_CATEG_1,PROF_MATEMATICA_CATEG_2,PROF_MATEMATICA_CATEG_3,PROF_MATEMATICA_CATEG_4,PROF_MATEMATICA_CATEG_5
0,True,False,True,False,False,False,False,True,False,False,...,False,False,True,False,False,False,True,False,False,False
1,True,False,False,True,False,False,True,False,False,False,...,False,False,True,False,False,False,False,True,False,False
2,True,False,True,False,False,False,True,False,False,False,...,False,True,False,False,False,False,True,False,False,False
3,True,False,True,False,False,False,True,False,False,False,...,False,False,True,False,False,False,True,False,False,False
4,False,True,True,False,False,False,True,False,False,False,...,False,False,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52489,True,False,True,False,False,False,False,False,False,True,...,False,False,True,False,False,False,True,False,False,False
52490,True,False,False,False,True,False,False,False,False,True,...,False,False,False,True,False,False,False,True,False,False
52491,False,True,False,False,True,False,False,False,False,True,...,False,False,False,True,False,False,True,False,False,False
52492,False,True,False,True,False,False,False,False,False,True,...,False,False,False,True,False,False,True,False,False,False
52493,False,True,True,False,False,False,False,False,False,True,...,False,False,False,True,False,False,False,True,False,False

In [10]:
df_encoded

,SEXO_CATEG_1,SEXO_CATEG_2,IDADE_CATEG_17,IDADE_CATEG_18,IDADE_CATEG_19,IDADE_CATEG_20,FORMACAO_MAE_CATEG_0,FORMACAO_MAE_CATEG_1,FORMACAO_MAE_CATEG_2,FORMACAO_MAE_CATEG_3,...,PROF_PORTUGUES_CATEG_1,PROF_PORTUGUES_CATEG_2,PROF_PORTUGUES_CATEG_3,PROF_PORTUGUES_CATEG_4,PROF_PORTUGUES_CATEG_5,PROF_MATEMATICA_CATEG_1,PROF_MATEMATICA_CATEG_2,PROF_MATEMATICA_CATEG_3,PROF_MATEMATICA_CATEG_4,PROF_MATEMATICA_CATEG_5
0,True,False,True,False,False,False,False,True,False,False,...,False,False,True,False,False,False,True,False,False,False
1,True,False,False,True,False,False,True,False,False,False,...,False,False,True,False,False,False,False,True,False,False
2,True,False,True,False,False,False,True,False,False,False,...,False,True,False,False,False,False,True,False,False,False
3,True,False,True,False,False,False,True,False,False,False,...,False,False,True,False,False,False,True,False,False,False
4,False,True,True,False,False,False,True,False,False,False,...,False,False,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52489,True,False,True,False,False,False,False,False,False,True,...,False,False,True,False,False,False,True,False,False,False
52490,True,False,False,False,True,False,False,False,False,True,...,False,False,False,True,False,False,False,True,False,False
52491,False,True,False,False,True,False,False,False,False,True,...,False,False,False,True,False,False,True,False,False,False
52492,False,True,False,True,False,False,False,False,False,True,...,False,False,False,True,False,False,True,False,False,False
52493,False,True,True,False,False,False,False,False,False,True,...,False,False,False,True,False,False,False,True,False,False

In [11]:
# Salvar o DataFrame codificado
df_encoded.to_csv("datasets/Apriori.csv", index=False)

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### A fun√ß√£o apriori da biblioteca 'mlxtend' encontra conjuntos frequentes e gera regras de associa√ß√£o com a fun√ß√£o association_rules.

In [12]:
# Aplicar Apriori para encontrar conjuntos frequentes
frequent_itemsets = apriori(df_encoded, min_support=0.1, use_colnames=True)

In [13]:
# Gerar regras de associa√ß√£o
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

In [14]:
# Exibir regras geradas
print(rules)

                                             antecedents  \
0                                         (SEXO_CATEG_1)
1                                         (SEXO_CATEG_1)
2                                         (SEXO_CATEG_1)
3                                         (SEXO_CATEG_1)
4                                         (SEXO_CATEG_2)
...                                                  ...
11092  (INICIOU_ESTUDOS_CATEG_3, DUVIDAS_CATEG_2, GES...
11093  (INICIOU_ESTUDOS_CATEG_3, GESTAO_CATEG_2, CORR...
11094  (INICIOU_ESTUDOS_CATEG_3, GESTAO_CATEG_2, CORR...
11095  (INICIOU_ESTUDOS_CATEG_3, GESTAO_CATEG_2, CORR...
11096  (INICIOU_ESTUDOS_CATEG_3, GESTAO_CATEG_2, REPR...

                                           consequents  antecedent support  \
0                            (ACESSO_INTERNET_CATEG_1)            0.532804
1                         (ENSINO_FUNDAMENTAL_CATEG_1)            0.532804
2                                   (REPROVOU_CATEG_0)            0.532804
3                                  (ABANDONOU_CATEG_0)            0.532804
4                            (ACESSO_INTERNET_CATEG_1)            0.467196
...                                                ...                 ...
11092                              (ABANDONOU_CATEG_0)            0.110222
11093             (ABANDONOU_CATEG_0, DUVIDAS_CATEG_2)            0.133768
11094  (ABANDONOU_CATEG_0, ENSINO_FUNDAMENTAL_CATEG_1)            0.130815
11095            (ABANDONOU_CATEG_0, REPROVOU_CATEG_0)            0.145102
11096            (ABANDONOU_CATEG_0, CORRIGEM_CATEG_2)            0.141597

       consequent support   support  confidence      lift  leverage  \
0                0.730750  0.385492    0.723515  0.990099 -0.003855
1                0.817198  0.436126    0.818549  1.001653  0.000720
2                0.749648  0.423267    0.794415  1.059718  0.023852
3                0.907208  0.483217    0.906933  0.999696 -0.000147
4                0.730750  0.345259    0.739001  1.011291  0.003855
...                   ...       ...         ...       ...       ...
11092            0.907208  0.105955    0.961286  1.059609  0.005961
11093            0.513430  0.105955    0.792082  1.542726  0.037275
11094            0.739094  0.105955    0.809961  1.095883  0.009270
11095            0.712062  0.105955    0.730209  1.025484  0.002633
11096            0.517735  0.105955    0.748285  1.445303  0.032645

       conviction  zhangs_metric
0        0.973833      -0.020955
1        1.007445       0.003533
2        1.217758       0.120620
3        0.997037      -0.000650
4        1.031613       0.020955
...           ...            ...
11092    2.396839       0.063224
11093    2.340201       0.406123
11094    1.372905       0.100662
11095    1.067261       0.029069
11096    1.915913       0.358927

[11097 rows x 10 columns]

### A sa√≠da das __*rules*__ do algoritmo Apriori mostra as regras de associa√ß√£o encontradas no dataset, cada uma composta por um conjunto de colunas (atributos) que frequentemente aparecem juntos. A tabela cont√©m as seguintes colunas:

#### **- antecedents:** Conjunto de itens que, quando presentes, aumentam a probabilidade dos itens do consequents estarem presentes.
#### **- consequents:** Conjunto de itens cuja presen√ßa √© aumentada pela presen√ßa dos antecedents.
#### **- support:** Frequ√™ncia com que a combina√ß√£o de antecedents e consequents aparece no dataset, medida como a propor√ß√£o do total de transa√ß√µes.
#### **- confidence:** Probabilidade de encontrar os consequents nas transa√ß√µes que cont√™m os antecedents. Calculado como 

$$ 
confidence(X‚ÜíY)= 
\frac{support(X)}
{support(X‚à™Y)}
$$

#### **- lift:** Medida de qu√£o frequentemente os consequents ocorrem nas transa√ß√µes que cont√™m os antecedents em compara√ß√£o com a frequ√™ncia esperada, assumindo que os antecedents e consequents s√£o independentes. Calculado como: 

$$
lift(X‚ÜíY)= \frac{
support(Y)}
{confidence(X‚ÜíY)}
$$‚Äã

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [15]:
# Analisar algumas regras interessantes
print(rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

                                             antecedents  \
0                                         (SEXO_CATEG_1)
1                                         (SEXO_CATEG_1)
2                                         (SEXO_CATEG_1)
3                                         (SEXO_CATEG_1)
4                                         (SEXO_CATEG_2)
...                                                  ...
11092  (INICIOU_ESTUDOS_CATEG_3, DUVIDAS_CATEG_2, GES...
11093  (INICIOU_ESTUDOS_CATEG_3, GESTAO_CATEG_2, CORR...
11094  (INICIOU_ESTUDOS_CATEG_3, GESTAO_CATEG_2, CORR...
11095  (INICIOU_ESTUDOS_CATEG_3, GESTAO_CATEG_2, CORR...
11096  (INICIOU_ESTUDOS_CATEG_3, GESTAO_CATEG_2, REPR...

                                           consequents   support  confidence  \
0                            (ACESSO_INTERNET_CATEG_1)  0.385492    0.723515
1                         (ENSINO_FUNDAMENTAL_CATEG_1)  0.436126    0.818549
2                                   (REPROVOU_CATEG_0)  0.423267    0.794415
3                                  (ABANDONOU_CATEG_0)  0.483217    0.906933
4                            (ACESSO_INTERNET_CATEG_1)  0.345259    0.739001
...                                                ...       ...         ...
11092                              (ABANDONOU_CATEG_0)  0.105955    0.961286
11093             (ABANDONOU_CATEG_0, DUVIDAS_CATEG_2)  0.105955    0.792082
11094  (ABANDONOU_CATEG_0, ENSINO_FUNDAMENTAL_CATEG_1)  0.105955    0.809961
11095            (ABANDONOU_CATEG_0, REPROVOU_CATEG_0)  0.105955    0.730209
11096            (ABANDONOU_CATEG_0, CORRIGEM_CATEG_2)  0.105955    0.748285

           lift
0      0.990099
1      1.001653
2      1.059718
3      0.999696
4      1.011291
...         ...
11092  1.059609
11093  1.542726
11094  1.095883
11095  1.025484
11096  1.445303

[11097 rows x 5 columns]

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## An√°lise das Regras de Associa√ß√£o

### Exemplo 1: Primeira Regra
#### **-antecedents:** (SEXO_CATEG_1)
#### **-consequents:** (ACESSO_INTERNET_CATEG_1)
#### **-support:** 0.385492
#### **-confidence:** 0.723515
#### **-lift:** 0.990099

### Interpreta√ß√£o:

#### **-antecedents:** A presen√ßa da categoria 1 da coluna SEXO (que mapeamos como Feminino).
#### **-consequents:** Est√° associada √† presen√ßa da categoria 1 da coluna ACESSO A INTERNET (que mapeamos como Sim).
#### **-support:** Cerca de 38.55% das transa√ß√µes (linhas) no dataset cont√™m tanto 'Feminino' como 'Sim' para acesso √† internet.
#### **-confidence:** Em 72.35% das vezes que a coluna SEXO √© 'Feminino', a coluna ACESSO A INTERNET √© 'Sim'.
#### **-lift:** O valor de 0.99 indica que h√° quase nenhuma rela√ß√£o entre SEXO ser 'Feminino' e ACESSO A INTERNET ser 'Sim', pois est√° muito pr√≥ximo de 1 (independ√™ncia).

##

##

### Exemplo 2: Segunda Regra
#### **-antecedents:** (SEXO_CATEG_1)
#### **-consequents:** (ENSINO_FUNDAMENTAL_CATEG_1)
#### **-support:** 0.436126
#### **-confidence:** 0.818549
#### **-lift:** 1.001653

### Interpreta√ß√£o:

#### **-antecedents:** A presen√ßa da categoria 1 da coluna SEXO (Feminino).
#### **-consequents:** Est√° associada √† presen√ßa da categoria 1 da coluna ENSINO FUNDAMENTAL (Ensino Fundamental Completo).
#### **-support:** Cerca de 43.61% das transa√ß√µes cont√™m tanto 'Feminino' como 'Ensino Fundamental Completo'.
#### **-confidence:** Em 81.85% das vezes que a coluna SEXO √© 'Feminino', a coluna ENSINO FUNDAMENTAL √© 'Completo'.
#### **-lift:** O valor de 1.001653 sugere uma rela√ß√£o quase neutra, muito pr√≥ximo de independ√™ncia.

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Observar

### **- Transforma√ß√£o dos Dados:** Cada valor no DataFrame final deve ser bin√°rio para que o algoritmo Apriori funcione corretamente.
### **- Interpreta√ß√£o das Regras:** As regras geradas podem ser analisadas para descobrir padr√µes interessantes nas respostas dos alunos.

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Aplicar

### **- Identifica√ß√£o de Perfis de Estudantes:** Descobrir perfis de estudantes que t√™m maior probabilidade de alcan√ßar altas pontua√ß√µes, permitindo interven√ß√µes direcionadas.
### **- Apoio √† Decis√£o Educacional:** Fornecer dados para pol√≠ticas educacionais e pr√°ticas de ensino baseadas em padr√µes de desempenho dos estudantes.
### **- An√°lise de Comportamentos de Estudo:** Entender como diferentes comportamentos e caracter√≠sticas dos estudantes influenciam seu desempenho acad√™mico.

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Vantagens do Apriori
### **-Simplicidade:** F√°cil de entender e implementar.
### **-Popularidade:** Amplamente utilizado e bem estudado na literatura de minera√ß√£o de dados.

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Desvantagens do Apriori
### **-Ineficiente para Grandes Conjuntos de Dados:** Gera muitos candidatos e requer m√∫ltiplas varreduras na base de dados.
### **-Custo Computacional:** Pode ser computacionalmente caro devido √† gera√ß√£o e verifica√ß√£o de muitos candidatos.

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------